#site-content {
	min-height: 100%;
	min-height: 100vh;
	position: relative;
	z-index: 1;
	margin-bottom: 100px;
	-webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0;
  
}

#site-footer {
	padding: 25px 0;
	font-size: 85%;
	height: 100px;
	background-color: #2A2A2A;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}

/* NOT NEEDED, THIS IS JUST FOR THE PEN */
@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css);

html, body {
	padding: 0;
	margin: 0;
	background-color: #D1D1D1;
}
#site-content {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('http://dummyimage.com/3000x3000/D1D1D1/2A2A2A.png?text=Scroll+Down');
}

#site-footer {
	min-height: 20vw;
	/* DID THIS SO YOU CAN SEE IT AUTOMATICALLY SCALE - SIMULATION RESPONSIVENESS */
	/* RESIZE THE WINDOW AND THEN SCROLL VERITCALLY AGAIN */
	background-size: cover;
	background-position: center;
	background-color: #553772;
}

#left{
	/* margin-top: 40px;*/
	margin-left: 40px; 
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#ft{
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 40px;
}

#ct{
	font-size: 16px;
}

#cent{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
}

#as{
	font-size: 40px;
	position: relative;
	top: -235px;
}

li{
	list-style-type: none;
}

#mained{
	position: relative;
	top: -240px;
	right: 25px;
	font-size: 20px;
}
#mained1{
	position: relative;
	top: -230px;
	right: 25px;
	font-size: 20px;
}
#mained2{
	position: relative;
	top: -220px;
	right: 25px;
	font-size: 20px;
}

a{
	text-decoration: none;
	color: black;
}

#right{
	position: relative;
	top: -200px;
	left: 1000px;
}

#rs{
	position: relative;
	top: -235px;
	font-size: 40px;
}

#soc{
	position: relative;
	right: -30px;
}
